.edit-text-container {

    &_edit-text {
        border: 3px solid #840037;
        background: #FDB731;
        display: inline-block;
        padding: 8px 8px;
        margin: 3px;
        border-radius: 5px;
        vertical-align: middle;
        overflow: hidden;
        text-decoration: none;
        color: inherit;
        text-align: center;
        white-space: nowrap;
        color: #840037;
        outline: none;
        height: 50px;
        width: 250px;
        font: 15px 'Montserrat';
        animation: button-anim 3s infinite;
    }

}
