@keyframes button-anim {
    0% { border: 3px #FDB731 solid; }
    50% { border: 3px #840037 solid; }
    100% { border: 3px #FDB731 solid;}
  }

.button-container {
    @media screen and (max-width: 960px) {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    &_button {
        background-color: #840037;
        border: 3px solid #FDB731;
        display: inline-block;
        padding: 16px 16px;
        margin: 3px;
        border-radius: 50%;
        vertical-align: middle;
        overflow: hidden;
        text-decoration: none;
        color: inherit;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
        color: white;
        outline: none;
        // font-family: HeeboMedium, sans-serif;
        font: 15px 'Montserrat';
        width: 100px;
        height: 100px;
        animation: button-anim 3s infinite;

        &:hover {
            background-color: #FDB731;
            color: #4D163D;
            border: 3px solid #840037;
        }

        @media screen and (max-width: 960px) {
            position: relative !important;
            right: unset !important;
            bottom: unset !important;
            margin: auto !important;
        }
    }
    &__align {
        display: flex;
    }
}
