@import "../../src/const/const.scss";

@-webkit-keyframes AnimationName {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
}
@keyframes AnimationName {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
}

body, html, #main-container  {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    background: $background-color;
    background: linear-gradient(217deg, #030321, #840037, #fdb731);
background-size: 600% 600%;

-webkit-animation: AnimationName 20s ease infinite;
-moz-animation: AnimationName 20s ease infinite;
animation: AnimationName 20s ease infinite;
}

.main-panel {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    @media screen and (max-width: 960px) {
        min-height: 100%;
    }

    &_img-container {
        display: flex;
        flex-direction: row;
        position: relative;
        min-height: 100%;

        @media screen and (max-width: 960px) {
            flex-direction: column;
        }
    }
}
