.uploader {
   overflow: hidden;
   align-items: center;
   background-color: rgb(230, 230, 230);
   cursor: pointer;
   display: flex;
   justify-content: center;
   border: 3px #2AAFC0 solid;
   position: relative;
   height: 300px;
   width: 300px;
   margin: 25px auto;
   min-height: 300px;

   & .loader-title {
      font-family: fontSize2;
      font-weight: 200;
      font-size: 25px;
      text-align: center;
      letter-spacing: 4px;
      -webkit-animation-delay: .2s;
      animation-delay: .2s;
      line-height: 1.2;
      box-sizing: border-box;
      outline: none;
      list-style: none;
      word-wrap: break-word;
      padding: 0;
      display: block;
      -webkit-margin-before: 1.33em;
      -webkit-margin-after: 1.33em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      color: black;
      margin: 0;
   }

   input {
      display: none;
   }

   & img,
   & .icon {
      pointer-events: none;
   }

   &, .icon {
      transition: all 100ms ease-in;
   }

   .icon {
      color: #eee;
      color: rgba(0, 0, 0, 0.2);
      font-size: 5em;
   }

   img {
      left: 50%;
      opacity: 0.4;
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      top: 50%;
      width: 150px;
      height: 150px;
      transition: all 300ms ease-in;
      transform: translate(-50%, -50%);

      &.loaded {
        opacity: 1;
        width: 300px;
        height: 300px;
      }
   }
}
